<div class="card">
    <div>
      <img class="card-img-top" [src]="prd.data.images[0]">
    </div>
    <div class="card-title pl-1 pr-1 pt-1">
      <span class="text-danger font-weight-bold">{{prd.data.price}} CNY</span>
    </div>
    <div class="card-subtitle pl-1 pr-1">
      <span class="text-dark">MQTY:{{prd.data.trade_info[0].min_num}} pcs</span>
    </div>
    <p class="card-text font-weight-light p-1">
      <small>{{prd.data.name}}</small>
    </p>
    <p class="card-text font-weight-light p-1" (click)="delprd(prd.id)">
        <small>{{prd.id}}<i class="fas fa-trash"></i>DEL</small>
      </p>
  </div>
